Import libraries

In [1]:
import pandas as pd
import matplotlib as mp
import seaborn as sb

Nerging if

In [10]:
dfa = pd.read_csv(
    'Pandas-Data-Science-Tasks\\SalesAnalysis\\Sales_Data\\Sales_May_2019.csv')
#Our notebook project file saved just above directory 'Pandas-Data-Science-Tasks' so we needn't start the path from 'c://...'
dfa

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,194095,Wired Headphones,1,11.99,05/16/19 17:14,"669 2nd St, New York City, NY 10001"
1,194096,AA Batteries (4-pack),1,3.84,05/19/19 14:43,"844 Walnut St, Dallas, TX 75001"
2,194097,27in FHD Monitor,1,149.99,05/24/19 11:36,"164 Madison St, New York City, NY 10001"
3,194098,Wired Headphones,1,11.99,05/02/19 20:40,"622 Meadow St, Dallas, TX 75001"
4,194099,AAA Batteries (4-pack),2,2.99,05/11/19 22:55,"17 Church St, Seattle, WA 98101"
...,...,...,...,...,...,...
16630,209916,Bose SoundSport Headphones,1,99.99,05/08/19 19:15,"235 Center St, Seattle, WA 98101"
16631,209917,Wired Headphones,1,11.99,05/24/19 22:02,"926 9th St, San Francisco, CA 94016"
16632,209918,AAA Batteries (4-pack),2,2.99,05/24/19 17:44,"868 Hickory St, Boston, MA 02215"
16633,209919,USB-C Charging Cable,1,11.95,05/04/19 12:46,"204 Adams St, Seattle, WA 98101"
16634,209920,ThinkPad Laptop,1,999.99,05/18/19 23:07,"43 5th St, Atlanta, GA 30301"

In [ ]:
% notebook

In [ ]:
aaa

In [ ]:
baa

In [ ]:
saa